* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7) 50%,
      rgba(0, 0, 0, 0.7) 50%
    ),
    url(img/5.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
}
nav {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  height: 75px;
  /* background: greenyellow; */
}
.logo {
  color: #ff7200;
  font-size: 50px;
  margin: 2px 20px;
  width: 10%;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  margin: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  transition: 0.5s ease-in-out;
  font-weight: bold;
}
nav ul li a:hover {
  color: #ff7200;
}
.search {
  width: 20%;
  text-align: center;
  float: left;
}
.search input {
  box-sizing: border-box;
  height: 40px;
  width: 60%;
  border: 2px solid #ff7200;
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
  border-right: none;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  outline: none;
}
.search button {
  box-sizing: border-box;
  height: 40px;
  width: 35%;
  background-color: #ff7200;
  border: none;
  margin-left: -3px;
  color: rgba(255, 255, 255, 0.726);
  font-size: 15px;
  border-right: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  font-weight: bold;
}
.form {
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(to top rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
  height: 380px;
  width: 340px;
  position: absolute;
  bottom: 250px;
  right: 100px;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  box-sizing: border-box;
}
.form h1 {
  background-color: #fff;
  width: 300px;
  height: 40px;
  color: #ff7200;
  font-weight: bold;
  border-radius: 7.5px;
  margin-top: 10px;
  padding-top: 10px;
}
.form input {
  margin: 10px 0px;
  background-color: transparent;
  width: 300px;
  height: 36px;
  border: 2px solid #ff7300a9;
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
  color: #fff;
  margin-top: 25px;
  font-size: 16px;
}
::placeholder {
  color: #fff;
}
.form button{
  background:#ff7200;
  width: 300px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #000;
  font-size: 24px;
  outline: none;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  transition: .3s ease-in-out;
  cursor: pointer;
}
.form button:hover{
background: #fff;
color: #ff7200;
}
.form p{
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  color: #fff;
}
.form p a{
  text-decoration: none;
  font-size: 20px;
  color: #ff7200;
}
.content{
  position: absolute;
  bottom: 250px;
  padding: 80px;
  
}
.content h1{
  color: #fff;
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.content h1 span{
  color: #ff7200;
}
.content p{
  color: #fff;
  margin-top: 40px;
  line-height: 25px;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  width: 40%;
  text-align: justify;
}
.content button{
  margin: 20px 0px;
  width: 180px;
  font-size: 25px;
outline: none;
background-color: #ff7200;
padding: 5px;
border-radius: 10px;
cursor: pointer;
transition: .5s ease;
border: none;
}
.content button:hover{
  background-color: #fff;
}
