*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    margin-top: 10px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.game{
    display: flex;
    gap: 50px;
}
.gameboard{
    background: red;
    display: grid;
    grid-template: repeat(3, 50px) / repeat(3, 50px);
}
.gameboard .box{
    display: flex;
    justify-content: center;
    align-items: center;
}