* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

h1 {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    margin-top: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.game {
    display: flex;
    gap: 50px;
}

.gameboard {
    /* background: red; */
    display: grid;
    grid-template: repeat(3, 10vw) / repeat(3, 10vw);
    position: relative;
}
.line{
    position: absolute;
    width: 20vw;
    height: 2px;
    top: 0;
    left: 0;
    background: #000;
    /* transform: translate(0,10px) rotate(0); */
    transition: transform 1s ease-in-out;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
    padding: 30px;
    border: 2px solid #000;
    cursor: pointer;
}

.box:hover{
    background: rgb(226, 226, 205);
}
.box:active{
    background: rgba(233, 233, 216, 0.555)
}
.bt-0 {
    border-top: 0px;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bb-0 {
    border-bottom: 0;
}
.gamestatus{
    font-size: 20px;
}
.gameinfo{
    width: 300px;
}
.gameinfo button{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background: rgb(34, 58, 58);
    color: #f7f5f5;
    cursor: pointer;
}
.gameinfo button:active{
    background: transparent;
    color: #000;
}
.gameinfo img{
    transition: width 1s ease-in-out;
    width: 0px;
}