*{
    margin: 0;
    padding: 0;
}
nav{
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* width: 100%; */
    /* position: absolute; */
}
nav .logo{
    padding: 0px 40px;
}
nav .logo img{
    width: 40px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    padding: 7px 20px;
    border-radius: 7px;    
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}
nav ul li a:hover{
    background-color: #f5f5f5;
    color: #000;
    transition: all .2s linear;
}
main .first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    background:linear-gradient(to left, rgba(0,0,0,.3) 50%, rgba(0,0,0,.3) 50%), url('img/main.jpg') no-repeat center center/cover;
    z-index: -1;
    margin-top: -60px;
}
main .first div{
    width: 300px;
    margin: 0px 250px;
    color: #fff;
    text-align: right;
}
.first div h1{
    line-height: 80%;
    padding: 5px;
    font-weight: bolder;
    font-size: 64px;
}
.first div p{
    font-size: 16px;
    font-weight: bold;
}
.fourth{
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0px auto;
}
.fourth h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 80%;
}
.fourth p{
    font-size: 12px;
    font-style: italic;
}
.six{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
}
.six div{
    box-sizing: border-box;
    text-align: center;
    width: 97%;
    padding: 50px 35px;
    background-color: #f5f5f5;
}
.six div img{
    height: 150px;
    padding: 5px 0px;
}
.six div h2{
    font-size: 40px;
}
.six div p{
    line-height: 120%;
    color: #747675;
}
.seventh{
    display: flex;
    height: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.seventh h2{
    font-size: 50px;
    width: 16%;
    line-height: 80%;
}
.seventh span{
    font-style: italic;
}
.seventh p{
    margin: 50px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
    word-spacing: -2px;
}
.eight{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.eight div{
    height: 455px;
    width: 455px;
    padding: 8px;
}
.eight div h2{
    font-size: 52px;
    font-weight: bold;
    width: 70px;
    line-height: 80%;
    padding: 8px 0px;
}
.eight div p{
    font-size: 18px;
    padding: 30px 0px;
}
.eight img{
    padding: 8px;
    height: 455px;
}
.nine{
    width: 70%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nine h2{
    font-size: 48px;
}
.nine p{
    font-size: 15px;
}
.nine form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0px;
    width: 100%;
}
.nine form label{
    text-transform: uppercase;
    padding: 3px;
    font-weight: bold;
}
.nine form input,.nine form textarea{
    width: 50%;
    height: 25px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #747675;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}
.nine form textarea{
     height: 40px;
}
.nine form button{
    margin: 20px 0px;
}
footer{
    height: 28vh;
    background:  #242424;
    display: flex;
}
.footer-logo{
    width: 15%;
}
.footer-logo img{
    width: 90px;
    padding:30px;
}
footer .wrapper{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    width: 85%;
    padding: 40px;
}
.wrapper h3{
    color: #747675;
    text-transform: uppercase;
    margin: 20px 0px;
    font-weight: 500;
}
.menu ul li{
    cursor: pointer;
    text-transform: uppercase;
}
.wrapper ul li{
    color: #f5f5f5b2;
    list-style-type: none;
    line-height: 150%;
}
/* utility classes  */
.cards{
    margin: 15px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.cards .img{
    width: 50%;
    margin: 10px;
}
.cards .img img{
    width: 100%;
}
.cards .text{
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    background-color: #f5f5f5;
    margin: 10px;
}
.text h1{
    font-size: 40px;
    width: 150px;
    line-height: 90%;
}
.text p{
        margin: 20px;
        font-size: 15px;
}
.text button{
    border: 2px solid #000;
    background: transparent;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.text button:hover{
    background: #747675;
    color: #fff;
    transition: all .2s linear;
}